@font-face {
  font-family: 'Keep Calm';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/KeepCalm-Medium.ttf);
}
/* line 26, ../scss/partials/_buttons.scss */
.button {
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #EEE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 30px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Keep Calm';
  color: #666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center; }
  /* line 44, ../scss/partials/_buttons.scss */
  .button:hover, .button:focus, .button:active, .button.is-active, .button.active {
    text-decoration: none; }
  /* line 48, ../scss/partials/_buttons.scss */
  .button:hover, .button:focus {
    color: #666;
    background-color: #EEE;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(to bottom, #ffffff, #dcdcdc); }
  /* line 53, ../scss/partials/_buttons.scss */
  .button:active, .button.is-active, .button.active {
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 59, ../scss/partials/_buttons.scss */
  .button:focus {
    outline: none; }

/* line 65, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none; }

/* line 72, ../scss/partials/_buttons.scss */
.button-block {
  display: block; }

/* line 77, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none; }

/* line 94, ../scss/partials/_buttons.scss */
.button-wrap {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(to bottom, #e3e3e3, #f2f2f2);
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

/* line 104, ../scss/partials/_buttons.scss */
.button-flat {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #EEE;
  border: none;
  text-shadow: none; }
  /* line 113, ../scss/partials/_buttons.scss */
  .button-flat:hover, .button-flat:focus {
    background: #fbfbfb; }
  /* line 116, ../scss/partials/_buttons.scss */
  .button-flat:active, .button-flat.is-active, .button-flat.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 121, ../scss/partials/_buttons.scss */
  .button-flat.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 131, ../scss/partials/_buttons.scss */
.button-border {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666;
  border: 2px solid #666;
  background: none;
  text-shadow: none; }
  /* line 140, ../scss/partials/_buttons.scss */
  .button-border:hover, .button-border:focus {
    background: none;
    color: gray;
    border: 2px solid gray; }
  /* line 145, ../scss/partials/_buttons.scss */
  .button-border:active, .button-border.is-active, .button-border.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #4d4d4d;
    border: 2px solid #4d4d4d; }
  /* line 151, ../scss/partials/_buttons.scss */
  .button-border.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-about {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhNjE1MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0MzcyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea6153), color-stop(100%, #e43725));
  background: -moz-linear-gradient(top, #ea6153, #e43725);
  background: -webkit-linear-gradient(top, #ea6153, #e43725);
  background: linear-gradient(to bottom, #ea6153, #e43725);
  background-color: #e74c3c;
  border-color: #d62c1a;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(123, 25, 15, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-about:hover, .button-about:focus {
    background-color: #e74c3c;
    color: #ffffff;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzY2OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0MzcyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed7669), color-stop(100%, #e43725));
    background: -moz-linear-gradient(top, #ed7669, #e43725);
    background: -webkit-linear-gradient(top, #ed7669, #e43725);
    background: linear-gradient(to bottom, #ed7669, #e43725); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-about:active, .button-about.is-active, .button-about.active {
    background: #d15e52;
    color: #a82315; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-about {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e74c3c;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-about:hover, .button-flat-about:focus {
    color: #ffffff;
    background: #ea6153; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-about:active, .button-flat-about.is-active, .button-flat-about.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #d15e52;
    color: #bf2718; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-about.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-blog {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5OGIzOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2NzExOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e98b39), color-stop(100%, #d67118));
  background: -moz-linear-gradient(top, #e98b39, #d67118);
  background: -webkit-linear-gradient(top, #e98b39, #d67118);
  background: linear-gradient(to bottom, #e98b39, #d67118);
  background-color: #e67e22;
  border-color: #bf6516;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(100, 53, 11, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-blog:hover, .button-blog:focus {
    background-color: #e67e22;
    color: #ffffff;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViOTk1MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2NzExOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb9950), color-stop(100%, #d67118));
    background: -moz-linear-gradient(top, #eb9950, #d67118);
    background: -webkit-linear-gradient(top, #eb9950, #d67118);
    background: linear-gradient(to bottom, #eb9950, #d67118); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-blog:active, .button-blog.is-active, .button-blog.active {
    background: #cd803b;
    color: #924d10; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-blog {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e67e22;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-blog:hover, .button-flat-blog:focus {
    color: #ffffff;
    background: #e98b39; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-blog:active, .button-flat-blog.is-active, .button-flat-blog.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #cd803b;
    color: #a85913; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-blog.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-projects {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlOGVjZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0NzJhNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e8ece), color-stop(100%, #2472a4));
  background: -moz-linear-gradient(top, #2e8ece, #2472a4);
  background: -webkit-linear-gradient(top, #2e8ece, #2472a4);
  background: linear-gradient(to bottom, #2e8ece, #2472a4);
  background-color: #2980b9;
  border-color: #20638f;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(13, 41, 60, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-projects:hover, .button-projects:focus {
    background-color: #2980b9;
    color: #ffffff;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwOWFkNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0NzJhNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #409ad5), color-stop(100%, #2472a4));
    background: -moz-linear-gradient(top, #409ad5, #2472a4);
    background: -webkit-linear-gradient(top, #409ad5, #2472a4);
    background: linear-gradient(to bottom, #409ad5, #2472a4); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-projects:active, .button-projects.is-active, .button-projects.active {
    background: #407ba2;
    color: #164666; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-projects {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #2980b9;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-projects:hover, .button-flat-projects:focus {
    color: #ffffff;
    background: #2e8ece; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-projects:active, .button-flat-projects.is-active, .button-flat-projects.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #407ba2;
    color: #1b557a; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-projects.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-contact {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhYTNkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1OGNkMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4aa3df), color-stop(100%, #258cd1));
  background: -moz-linear-gradient(top, #4aa3df, #258cd1);
  background: -webkit-linear-gradient(top, #4aa3df, #258cd1);
  background: linear-gradient(to bottom, #4aa3df, #258cd1);
  background-color: #3498db;
  border-color: #217dbb;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(18, 67, 100, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-contact:hover, .button-contact:focus {
    background-color: #3498db;
    color: #ffffff;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmYWVlMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1OGNkMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5faee3), color-stop(100%, #258cd1));
    background: -moz-linear-gradient(top, #5faee3, #258cd1);
    background: -webkit-linear-gradient(top, #5faee3, #258cd1);
    background: linear-gradient(to bottom, #5faee3, #258cd1); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-contact:active, .button-contact.is-active, .button-contact.active {
    background: #4c93c3;
    color: #196090; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-contact {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #3498db;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-contact:hover, .button-flat-contact:focus {
    color: #ffffff;
    background: #4aa3df; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-contact:active, .button-flat-contact.is-active, .button-flat-contact.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #4c93c3;
    color: #1d6fa5; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-contact.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-white {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZTRlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfcfc), color-stop(100%, #dde4e6));
  background: -moz-linear-gradient(top, #fbfcfc, #dde4e6);
  background: -webkit-linear-gradient(top, #fbfcfc, #dde4e6);
  background: linear-gradient(to bottom, #fbfcfc, #dde4e6);
  background-color: #ecf0f1;
  border-color: #cfd9db;
  color: #434343;
  text-shadow: 0 -1px 1px rgba(148, 170, 176, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-white:hover, .button-white:focus {
    background-color: #ecf0f1;
    color: #434343;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZTRlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dde4e6));
    background: -moz-linear-gradient(top, #ffffff, #dde4e6);
    background: -webkit-linear-gradient(top, #ffffff, #dde4e6);
    background: linear-gradient(to bottom, #ffffff, #dde4e6); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-white:active, .button-white.is-active, .button-white.active {
    background: #efefef;
    color: #b1c2c6; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-white {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #ecf0f1;
  color: #434343;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-white:hover, .button-flat-white:focus {
    color: #434343;
    background: #fbfcfc; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-white:active, .button-flat-white.is-active, .button-flat-white.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #efefef;
    color: #c0cdd1; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-white.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 363, ../scss/partials/_buttons.scss */
.button-group {
  position: relative;
  display: inline-block; }
  /* line 366, ../scss/partials/_buttons.scss */
  .button-group .button {
    float: left; }
    /* line 368, ../scss/partials/_buttons.scss */
    .button-group .button:focus, .button-group .button:hover, .button-group .button.active {
      z-index: 5; }
    /* line 371, ../scss/partials/_buttons.scss */
    .button-group .button:active, .button-group .button.active {
      background: gainsboro; }
    /* line 375, ../scss/partials/_buttons.scss */
    .button-group .button:not(:first-child):not(:last-child) {
      border-radius: 0; }
    /* line 378, ../scss/partials/_buttons.scss */
    .button-group .button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    /* line 382, ../scss/partials/_buttons.scss */
    .button-group .button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  /* line 388, ../scss/partials/_buttons.scss */
  .button-group .button + .button {
    margin-left: -1px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-jumbo {
  font-size: 25px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px; }

/* line 432, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 15px;
  height: 25.6px;
  line-height: 24px;
  padding: 0px 20.48px; }

/* line 432, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 13px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 19.2px; }

/* line 432, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px; }
