Title:			BrianCh.uk Home Screen Styles v1
Author:			Brian Chuk (brianch.uk)
Copyright: 		2015, Brian Chuk - All rights reserved (you have permission to use it, just tell me :D)
Framework:		Responsive layout based on Less Framework 4 (http://lessframework.com) by Joni Korpi

https://color.adobe.com/Flat-UI-color-theme-2469224/

2C3E50
E74C3C
ECF0F1
3498DB
2980B9


/* RESET STYLES
----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	background: transparent;
	border: 0;
	outline: 0;
}

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
	display: block;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }

/* FONT IMPORTS
----------------------------------------------- */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* BIG JOHN */
@font-face {
  font-family: 'BIG JOHN';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/BIGJOHN.otf);
}
/* slim joe */
@font-face {
  font-family: 'Slim Joe';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/SlimJoe.otf);
}

/* GENERAL STYLES
----------------------------------------------- */

html {overflow-x: hidden; font-family: 'Lato';}
body { margin: 0; z-index: 1;position: relative;}

/* ----- SELECTION COLORS ----- */
/* ----- LINKS ----- */

/* PAGE STRUCTURE
----------------------------------------------- */

/* Introduction Message */

#canvas { position: absolute; z-index: -90;}
@media only screen and (max-width: 991px) {
	#intro {background-color: #E74C3C;}
}
#intro {
	position: relative;
	height:100vh;
	text-align: center;
	font-size: 2vmin;
	font-family: 'BIG JOHN';
	color: #ECF0F1;
}
#intro:before, #intro:after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top:0;
    display: block;
    width: 50%;
    height: 100%;
    border-bottom: 2.5vh solid;
    border-bottom-color: #2C3E50;
}
#intro:before {left: 0; border-right: 20px solid transparent; border-left: 0;}
#intro:after {right: 0; border-left: 20px solid transparent; border-right: 0;}
#spacer {height:35vh;}
#intro-small {font-size: 5vmin;}
#intro-large {font-size: 10vmin;}

/* Introduction Information */

#info-wrapper-wrapper {background-color: #2C3E50;}
#info-wrapper {color: #ECF0F1; margin: 0 auto; overflow: hidden;}
#main-text {font-weight: bold; font-size: 35px; padding-bottom: 3vh;}
#sub-text {	padding-bottom: 3vh;}

/* Page Links */

#pages-wrapper {font-family: 'BIG JOHN';}
#blog {
	float: left;
}
#contact {
	float: right;
}
#about {
	float: left;
}
#projects {
	float: left;
}
#pages-wrapper {height:25vw; width: 100vw;}
#about, #blog, #contact, #projects {
	height: 25vw;
	color: white;
	text-decoration: none;
	font-size: 3vw;
	width: 25vw;
	text-align: center;
	line-height: 25vw;
}
#about {background-color: #E74C3C;}
#blog {background-color: #ECF0F1;}
#contact {background-color: #3498DB;}
#projects {background-color: #2980B9;}
/* WIDE DESKTOP LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 992px) {
	#info-wrapper { width: 1000px; }
	#text {
		width:450px;
		float: left;
		padding-top: 3vh;
		padding-bottom: 3vh;
	}
	#profile{
		padding-top: 3vh;
		padding-bottom: 3vh;
		float: right;
		width:450px;
		overflow:hidden;
	}
	#picture {
		width: 450px;
	}
	#caption {
		text-align: center;
	}
	#pages-wrapper {height:25vh; width: 100vw;}
	#about, #blog, #contact, #projects {height: 25vh; width: 25vw; line-height: 25vh;}
} /* CLOSE WIDE LAYOUT */

/* TABLET LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#intro {background-color: #E74C3C;}
	#info-wrapper {width: 768px;}
	#text {
		width:384px;
		float: left;
		padding-top: 3vh;
		padding-bottom: 3vh;
	}
	#profile{
		padding-top: 3vh;
		padding-bottom: 3vh;
		float: right;
		width:384px;
		overflow:hidden;
	}
	#picture {
		width:384px;
	}
	#caption {
		text-align: center;
	}
} /* CLOSE TABLET LAYOUT */

/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
----------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#intro {background-color: green;}
	#text {padding: 3vw;}
	#profile {display: none;}
} /* CLOSE WIDE MOBILE LAYOUT

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
@media only screen and (max-width: 767px) {
	#intro {background-color: yellow;}
	#text {padding: 3vw;}
	#profile {display: none;}
	#pages-wrapper {height:100vh; width: 100vw; font-size: 80vw;}
	#about, #blog, #contact, #projects {height: 25vh; width: 100vw; line-height: 25vh; font-size: 13vw;}

} /* CLOSE MOBILE LAYOUT */