/*
Title:			BrianCh.uk Home Screen Styles v1
Author:			Brian Chuk (brianch.uk)
Copyright: 		2015, Brian Chuk - All rights reserved (you have permission to use it, just tell me :D)
Framework:		Responsive layout based on Less Framework 4 (http://lessframework.com) by Joni Korpi


/* RESET STYLES
----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	background: transparent;
	border: 0;
	outline: 0;
}

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
	display: block;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }

/* FONT IMPORTS
----------------------------------------------- */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* BIG JOHN */
@font-face {
  font-family: 'BIG JOHN';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/BIGJOHN.otf);
}
/* slim joe */
@font-face {
  font-family: 'Slim Joe';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/SlimJoe.otf);
}

/* GENERAL STYLES
----------------------------------------------- */

html {
	overflow-x: hidden;
	font-family: 'Lato';
}
body { 
	margin: 0; 
	z-index: 1;
	position: relative;
}

/* ----- SELECTION COLORS ----- */
/* ----- LINKS ----- */

/* PAGE STRUCTURE
----------------------------------------------- */

#canvas {
	position: absolute;
	z-index:-10000;
}
#intro {
	height:100vh;
	text-align: center;
	font-size: 10vmin;
	font-family: 'BIG JOHN';
}
#spacer {
	height:35vh;
}
#intro-small {
	font-size: 5vmin;
}
#intro-large {
	font-size: 10vmin;
	font-family: 'BIG JOHN';
}
#info {
	position: relative;
	background: #c00;
}

/* WIDE DESKTOP LAYOUT 
----------------------------------------------- */
/* CLOSE WIDE LAYOUT */

/* TABLET LAYOUT 
----------------------------------------------- */
/* CLOSE TABLET LAYOUT */

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
/* CLOSE MOBILE LAYOUT */

/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
----------------------------------------------- */
/* CLOSE WIDE MOBILE LAYOUT */