/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* BIG JOHN */
@font-face {
  font-family: 'BIG JOHN';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/BIGJOHN.otf);
}
/* slim joe */
@font-face {
  font-family: 'Slim Joe';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/SlimJoe.otf);
}

html {
	overflow-x: hidden;
	font-family: 'Lato';
}
body { 
	margin: 0; 
	z-index: 1;
	position: relative;
}
#canvas {
	position: absolute;
	z-index:-10000;
}
#intro {
	height:100vh;
	text-align: center;
	font-size: 10vh;
	font-family: 'BIG JOHN';
}
#spacer {
	height:35vh;
}
#intro-small {
	font-size: 5vh;
}
#intro-large {
	font-size: 10vh;
	font-family: 'BIG JOHN';
}
#info {
	position: relative;
	background: #c00;
}