---
title: Blog
---


<!--
Title:      BrianCh.uk Home Screen v1
Author:     Brian Chuk (brianch.uk)
Copyright:    2015, Brian Chuk - All rights reserved (you have permission to use it, just tell me :D)
-->
<!DOCTYPE html>
<!--[if lt IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#D35400">
    <title>Blog | Brian Chuk</title>

    <link rel="stylesheet" href="http://devchuk.github.io/devchuk2/res/css/chromestylesheet.css">
    <link rel="stylesheet" href="http://devchuk.github.io/devchuk2/res/css/posts.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://devchuk.github.io/devchuk2/res/css/buttons.css">
  </head>
  <body>
    
    <div id="subintro1">
      <div id="subspacer"></div>
      <div id="intro-large">BLOG</div><br>
    </div>
    <div id="info-wrapper-wrapper">
      <div id="info-wrapper" >
            <div class="posts">
              {% for post in paginator.posts %}
              <div class="post">
                <span class="post-title">
                  <a href="/devchuk2{{ post.url }}">
                    {{ post.title }}
                  </a>
                </span>

                <small class="post-date">{{ post.date | date_to_long_string }}</small>
                <div class="content">
                  {{ post.content }}
                </div>
                <br>
                <hr>
              </div>
              {% endfor %}
            </div>
            <center>
            <div class="pagination">
              {% if paginator.next_page %}
                <a class="button button-rounded button-blog" href="{{ site.baseurl }}/devchuk2/blog/page{{paginator.next_page}}"><i class="fa fa-arrow-left"></i></a>
              {% else %}
                <span class="button button-rounded button-blog disabled"><i class="fa fa-arrow-left"></i></span>
              {% endif %}
              {% if paginator.previous_page %}
                {% if paginator.page == 2 %}
                  <a class="button button-rounded button-blog" href="{{ site.baseurl }}/blog/"><i class="fa fa-arrow-right"></i></a>
                {% else %}
                  <a class="button button-rounded button-blog" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}"><i class="fa fa-arrow-right"></i></a>
                {% endif %}
              {% else %}
                <span class="button button-rounded button-blog disabled"><i class="fa fa-arrow-right"></i></span>
              {% endif %}
            </div>
            </center>
      </div>
    </div>
  </body>
</html>

<script>
  $('#older').click(function(e) {
        e.preventDefault(); e.stopPropagation();
        window.location.href = $(e.currentTarget).data().href;
    });
</script><!---->